<h2> Bounty </h2>
<%= link_to "$250 - $500", requests_path(:min_price => "250", :max_price => "500") %> 
<%= link_to "$500 - $1000", requests_path(:min_price => "500", :max_price => "1000") %> 
<%= link_to "$1000+", requests_path(:min_price => "1000", :max_price => "100000") %> 
