@charset "utf-8";
/* CSS Document */
/*General page layout and where you can find styles*/
/*---------------------------------------------------------------------------
1. body
2. typography and default styles
3. button styles
4. basic columns
5. image styles
6. header_top_bg
	6.1 header_top
			- company slogan
			- phone number
7. header_divider
8. header_bg
	8.1 header
		8.1.1 logo
		8.1.2 tagline
				- text
				- button with scroll to
9. header_bottom_bg		
	9.1 header_bottom
				- column_3
					- general text
				- column_3
					- video
				- column_3_last
					- subscribe
10. content 
	10.1 column_twothird
			- features
			- pricing table
			- gallery
	10.2 column_onethird
			- testimonial
			- contact form
11. footer_bg 
	11.1 footer
			- copyright
				- copyright text
				- some links
			- social
---------------------------------------------------------------------------*/
/* 1. body */
/*---------------------------------------------------------------------------*/
body {
/*
	background: url(../../images/body-bg.jpg) repeat #ffffff;
*/
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:normal;
	color: #2b2b2b;
	line-height: 1.6em;
}
.clear {
	clear:both;
}
/* 2. Typography and default */
/*---------------------------------------------------------------------------*/
h1, h2, h3 {
	color: #4f4f4f;
	line-height: 1em;
	font-weight: normal;
}/*Margin bottom to headings as line-height property do not work well with many browsers in case of cufon*/
h1 {
	font-size: 30px;
	margin-bottom: 5px;
	color: #ffffff;
	text-align: center;
}
h2 {
	font-size: 18px;
	margin-bottom: 15px;
}
h3 {
	font-size: 13px;
	font-weight: bold;
	margin-bottom: 10px;
	color: #5d5d5d;
}
a {
	color: #ffffff;
	font-size: 11px;
	text-decoration: none;
	cursor: pointer;
	font-size:16px;text-decoration:underline;
}
/* 3. button styles */
/*---------------------------------------------------------------------------*/
.button_1 {
	background: url(../images/call-to-action-button.png) no-repeat;
	width: 250px;
	height: 70px;
	margin: 0 auto;
}
.button_2 {
	background: url(../images/call-to-action-sub.png) no-repeat;
	width: 182px;
	height: 55px;
	margin: 0 auto;
}
.button_1 a {
	color: #ffffff;
	font-size: 20px;
	display: block;
	text-align: center;
	padding-top: 26px;
}
.button_2 a {
	color: #ffffff;
	font-size: 18px;
	display: block;
	text-align: center;
	padding-top: 18px;
}
.button_3 {
	background: url(../images/buy-btn.png) no-repeat;
	width: 82px;
	height: 34px;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 10px;
}
.button_3 a {
	color: #ffffff;
	font-size: 11px;
	display: block;
	text-align: center;
	padding-top: 7px;
}
/* 4. Basic columns */
/*---------------------------------------------------------------------------*/
/*twothird and onethird columns*/
.column_twothird {
	width: 620px;
	margin-right: 20px;
	float: left;
}
.column_onethird {
	width: 300px;
	float: left;
}
/*two columns*/
.column_2 {
	width: 460px;
	margin-right: 20px;
	float: left;
}
.column_2_last {
	width: 460px;
	margin: 0;
	float: left;
}
/*three columns*/
.column_3 {
	width: 300px;
	margin-right: 20px;
	float: left;
}
.column_3_last {
	width: 300px;
	margin: 0;
	float: left;
}
/*four columns*/
.column_4 {
	width: 220px;
	margin-right: 20px;
	float: left;
}
.column_4_last {
	width: 220px;
	margin: 0;
	float: left;
}
/* 5. Image styles */
/*---------------------------------------------------------------------------*/
.image_left {
	float: left;
	margin-right: 10px;
}
.image_right {
	float: right;
	margin-left: 10px;
}
/*Images to be at center, needs to adjust margin top and bottom as per image size*/
.image_left_center {
	float: left;
	margin: 10px 10px 10px 0px;
}
.image_right_center {
	float: right;
	margin: 10px 0px 10px 10px;
}
/* 6. header_top_bg */
/*---------------------------------------------------------------------------*/
#header_top_bg {
	width: 100%;
	background: #2b2b2b;
}
#header_top {
	width: 940px;
	margin: 0 auto;
	padding: 20px 0px;
	color: #ffffff;
	font-size: 14px;
}
#header_top p {
	float: left;
}
#header_top p.tel {
	float: right;
}
/* 7. header_divider */
/*---------------------------------------------------------------------------*/
#header_divider {
	width: 100%;
	height: 15px;
	background: url(../images/header-top-bottom-arrow.jpg) no-repeat top center #5b5b5b;
}
/* 8. header_bg */
/*---------------------------------------------------------------------------*/
/*While customization , adjust top and/or bottom padding of logo, tagline p
if needed, to maintain symmetry in vertical distance*/
#header_bg {
	width: 100%;
	background: url(../images/header-bg.jpg ) repeat;
}
#header {
	width: 940px;
	margin: 0 auto;
	padding: 20px 0px 40px 0px;
	color: #ffffff;
	min-height:400px;
}
#header h2 {
	color: #ffffff;
}
/*----------logo----------*/
/*To get logo at center of page, keep width of class "logo" same as width of your logo*/
.logo {
	width: 200px;
	margin: 0 auto;
	padding-bottom: 30px;
}
/*----------tagline----------*/
.tagline {
	width: 940px;
	float: left;
}
.tagline p {
	font-size: 16px;
	text-align: center;
	padding-bottom: 35px;
}
/* 9. header_bottom_bg */
/*---------------------------------------------------------------------------*/
#header_bottom_bg {
	width: 100%;
	background-color: #e6e6e6;
	border-top: 1px solid #ffffff;
	border-bottom: 1px solid #dcdcdc;
}
#header_bottom {
	width: 940px;
	margin: 0 auto;
	padding: 40px 0px;
}
#header_bottom p {
	padding-bottom: 5px;
}
/*----------list with checkmark bullet----------*/
ul.bullet li {
	background: url(../images/bullet-checkmark.png) no-repeat 0 5px;
	padding-left: 20px;
	line-height: 2em;
	list-style: none;
	display: block;
}
/*----------video----------*/
.video_bg {
	background:url(../images/video-bg.png) no-repeat;
	width: 290px;
	height: 150px;
	padding: 5px;
	margin-top: 10px;
	float: left;
}
/*----------subscribe form----------*/
form#subform {
	width:300px;
}
form#subform fieldset {
	border: none;
	background: none;
}
form#subform fieldset p {
	background: none;
	padding: 0;
	margin: 0;
	display: block;
}
form#subform input {
	background: url(../images/subscribe-input.png) no-repeat;
	width: 290px;
	height: 25px;
	margin: 10px 0px 0px 0px;
	padding: 5px;
	font-family: Arial, Trebuchet MS, Verdana, sans-serif;
	font-size: 12px;
	line-height: 2em;
	border: none;
	outline: none;
	float: left;
}
form#subform input.submit {
	background: url(../images/subscribe-btn.png) no-repeat 0 0;
	width: 300px;
	height: 36px;
	margin: 10px 0px 0px 0px;
	color: #ffffff;
	font-size: 12px;
	font-weight: bold;
	border: none;
	cursor: pointer;
	outline: none;
	display: block;
}
/*label.error is not used for this template*/
form#subform label.error {
	font-size: 0px;
	line-height: 0em;
	width: 0px;
	height: 0px;
	text-align: right;
	margin: 0;
	padding: 0;
	display: none !important;
}
form#subform input.error {
	background: url(../images/input-error.png) no-repeat;
	width: 290px;
	height: 25px;
	margin: 10px 0px 0px 0px;
	padding: 5px;
}
form#subform #result_sub {
	width: 300px;
	float: left;
	text-align: right;
}
/* 10. content */
/*---------------------------------------------------------------------------*/
#content {
	width: 940px;
	margin: 0 auto;
	padding: 40px 0px 25px 0px;
}
/*bottom padding of content 25px as gallery li has padding bottom 15px, total makes 40px.
While customization if your any other column is more in height, than the one containg gallery,
make padding bottom of content 40px. 
*/
/*----------feature list----------*/
ul.feature li {
	width: 300px;
	padding-right: 20px;
	padding-bottom: 30px;
	list-style: none;
	background: none;
	display: block;
	float: left;
}
ul.feature li.last_feature {
	padding-right: 0px;
}
/*----------pricing table----------*/
/*Color to alternate row is given by jquery function,
you can find it in custom.js
*/
table {
	width: 620px;
	margin-bottom: 30px;
	border-collapse: separate;
	border: 1px solid #d0d0d0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
th {
	padding: 10px 10px;
	color: #5d5d5d;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
}
td {
	padding: 10px 10px;
	text-align: left;
	text-align: center;
}
.alt {
	background-color: #e6e6e6;
}
.leftalign{
	text-align: left;
}
/*----------gallery----------*/
#gallery {
	width: 620px;
	float: left;
}
ul.gallery {
	padding-top: 10px;
}
/*change height/width of li, if changing that of thumb*/
ul.gallery li {
	width: 90px;
	height: 90px;
	margin-bottom: 15px;
	margin-right: 16px;
	padding: 0;
	list-style: none;
	display: block;
	float: left;
}
ul.gallery li.last_image {
	margin-right: 0;
}
ul.gallery li img {
	background: none;
	padding: 4px;
	border: 1px solid #d0d0d0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
/*----------testimonial----------*/
.testimonial {
	width: 300px;
	background: url( ../images/testimonial-bg.png) no-repeat top right;
	margin-bottom: 30px;
	float: left;
}
.testimonial span {
	color: #5e5e5e;
	font-weight: bold;
	font-style: italic;
	padding-top: 5px;
	display: block;
}
/*----------contact form----------*/
form.contact_form {
	width: 300px;
	margin-top: 10px;
}
form.contact_form fieldset {
	border: none;
	background: none;
}
form.contact_form fieldset p {
	background: none;
	padding: 0;
	margin: 0;
	display: block;
}
form.contact_form label {
	width: 98px;
	height: 32px;
	padding-top: 8px;
	font-size: 12px;
	font-weight: bold;
	display: inline-block;
	float: left;
}
form.contact_form input {
	width: 190px;
	height: 20px;
	padding: 5px;
	margin: 10px 0px 0px 0px;
	border: 1px solid #d0d0d0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-family: Arial, Trebuchet MS, Verdana, sans-serif;
	font-size: 12px;
	line-height: 2em;
	outline: none;
	background: none;
	float: left;
}
form.contact_form .select_style {
	width: 202px;
	height: 32px;
	padding: 5px;
	margin: 10px 0px 0px 0px;
	border: 1px solid #d0d0d0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-family: Arial, Trebuchet MS, Verdana, sans-serif;
	font-size: 12px;
	line-height: 2em;
	outline: none;
	background: none;
	float: right;
}
form.contact_form textarea {
	width: 190px;
	height: 100px;
	padding: 5px;
	margin: 10px 0px 0px 0px;
	border: 1px solid #d0d0d0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-family: Arial, Trebuchet MS, Verdana, sans-serif;
	font-size: 12px;
	line-height: 2em;
	outline: none;
	background:  none;
	float: left;
}
form.contact_form input.submit {
	background: url(../images/form-submit-btn.png) no-repeat 0 0;
	width: 202px;
	height: 35px;
	margin: 10px 0px 0px 98px;
	padding: 0;
	font-family: Arial, Trebuchet MS, Verdana, sans-serif;
	color: #ffffff;
	font-size: 12px;
	font-weight: bold;
	border: none;
	cursor: pointer;
	outline: none;
	float: left;
}
/*label.error is not used for this template*/
form.contact_form label.error {
	width: 0px;
	font-size: 0px;
	line-height: 0em;
	display: none !important;
}
form.contact_form input.error {
	border: 1px solid #efbcbc;
}
form.contact_form textarea.error {
	border: 1px solid #efbcbc;
}
form.contact_form #result {
	width: 300px;
	float: left;
	text-align: right;
	padding-top: 5px;
}
/* 11. footer_bg */
/*---------------------------------------------------------------------------*/
#footer_bg {
	width: 100%;
	background: #2b2b2b;
}
#footer {
	width: 940px;
	margin: 0 auto;
	padding: 20px 0px;
	color: #ffffff;
	font-size: 11px;
}
/*----------copyright----------*/
.copyright {
	float: left;
	width: 400px;
}
.copyright ul li {
	float: left;
	padding-right: 10px;
	list-style: none;
	background: none;
}
/*----------social----------*/
ul.social {
	float: right;
}
ul.social li {
	float: left;
	padding-left: 10px;
	background: none;
	list-style: none;
}
