Sign up here with <%= link_to "github", "/auth/github" %>.
<p> <strong>Don&rsquo;t use these services?</strong> Currently, codepool only supports github based login. Check back later or create a github account now. </p>

