<h1>New user</h1>

<form accept-charset="UTF-8" action="/users" class="new_user" id="new_user" method="post">
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <input name="utf8" type="hidden" value="&#x2713;" />
    <input name="authenticity_token" type="hidden" value="neOEeseZKZ+gl4casVIM7Ck7zg2lB51kmGzCcwfks6k=" />

  <div class="field">
    <label for="user_name">Name</label>
    <input id="user_name" name="user[name]" size="30" type="text" />
  </div>
  <div class="field">
    <label for="user_email">Email</label>
    <input id="user_email" name="user[email]" size="30" type="text" />
  </div>
  <div class="field">
    <label for="user_password">Password</label>
    <input id="user_password" name="user[password]" size="30" type="password" />
  </div>
  <div class="field">
    <label for="user_password_confirmation">Password confirmation</label>
    <input id="user_password_confirmation" name="user[password_confirmation]" size="30" type="password" />
  </div>
  <div class="actions">
        <input name="commit" type="submit" value="Create User" class="btn primary"/>
  </div>
</form>
