<%= link_to "Facebook", "/auth/facebook" %>
<%= link_to "github", "/auth/github" %>
<p>
  <strong>Don&rsquo;t use these services?</strong>
  <%= link_to "Create an account", "/auth/identity/register" %> or
  <%= link_to "login", "/auth/identity" %> with a password.
</p>


