<div id="pageContent">
  <h2>Codepool allows developers to finish their projects faster.</h2>

  <p>Every Open Source project has a bug tracker or issue queue. After talking with developers from around the globe, the fundamental problem with these queues is that small projects do not get enough attention while the larger projects have so many issues that development resources are spread thin. Codepool is here to help!</p>

  <p>We love the Open Source community, and we want to help accelerate projects. Our team has developed a platform for developers to incentive their issues get attention quickly by allowing anyone to place a bounty on a particular issue.  Once a bounty has been placed, developers can promote their incentivized issues to other developers.  When an issue is fixed, the developer who provided the solution can come to codepool to collect the bounty. A portion of the bounty will also be donated to the Open Source community where the issue was resolved.</p>

  <p>Codepool is the result of a 54-hour Startup Weekend event held in San Diego, CA.  For more information, <a href="http://twitter.com/codepoolorg">follow us on Twitter</a>.</p>
</div>

