<div id="pageContent">
  <h2>FAQ</h2>
  <dl>
    <dt>Do I have to create an account to work on an issue?</dt>
    <dd>You may browse and work on issues without having a CodePool account, but you must create an account and login to submit a final solution and claim your bounty.</dd>
    <dt>How do I get paid?</dt>
    <dd>Once the community has confirmed that your solution is acceptable, the requester will be charged and your account will be credited. You may request disbursement at any time, with a maximum of two disbursements per month. Upon creating an account, we will ask for your Paypal associated email address so that you may be paid.</dd>
    <dt>Can multiple people work on an issue simultaneously?</dt>
    <dd>We encourage everyone and anyone to seek solutions to listed issues, however only the first person to submit a successful solution will be paid.</dd>
    <dt>How do I request a solution for an issue?</dt>
    <dd>After creating an account, you may add an issue to our directory by offering a bounty for the person who first submits a successful solution. Your payment information will be safely stored in the Stripe payment processor database. You will not be charged until someone has submitted a successful solution that the community has approved.</dd>
    <dt>What is required to submit a request?</dt>
    <dd>After creating an account, you may create and add an issue to our archives by selecting create an issue under the Requests tab. You will be asked to pledge a bounty of minimum $10 for the first person to submit a successful solution. Upon submitting your request, your payment information will be recorded and safely stored in the Stripe payment solutions system to be charged once a successful solution has been provided and confirmed.</dd>
    <dt>After submitting a request, I found the solution I was looking for. How can I cancel my bounty?</dt>
    <dd>You may cancel your bounty at any time, but you will loose your 15% initial down payment.</dd>
    <dt>Who decides if the request is successfully answered?</dt>
    <dd>The initial requester will acknowledge a successful solution, and the community at large will confirm the completion. Upon uploading a final solution, the initial requester will be notified and we will confirm the results. Once confirmed, we will disburse the bounty to the solution provider’s account.</dd>
    <dt>So I’m still slightly confused, how do payments and fees work exactly?</dt>
    <dd>As an issue requester, you must provide payment information upon submitting a request. For bounties less than $500, you will be charged a 15% down payment of the bounty at the time of submission, and will be charged the remaining 85% upon receiving an acceptable solution. For bounties larger than $500, a minimum down payment of $250 will be collected, to ensure the legitimacy of your request. Once a solution has been submitted and deemed acceptable, the remaining bounty owed will be charged to the requester’s account, and the appropriate funds will be transferred to the solution provider’s account.</dd>
  </dl>
</div>
