<div class="row">
	<div class="span11 issues-area">
		
		<h3> Donate to Solve Open Source Issues </h3>
		<hr id="issue-line">
		<div class="row issue">
			
				<div class="span9 issue-description" >
					<a href='#'>Create Stuff!</a>
				</div>
					<div class="span2" >
						<div class = "issue-price">
							$442
						</div>
					</div>
		</div>
		
	
	</div>
		<div class="span5">
			<h3> codepool is here to help you </h3>
			<p>Do Awesome things with codepool. We have a fantastic, fantastic, fantastic, fantastic system </p>
			<h3> codepool is here to help you </h3>
			<p>Do Awesome things with codepool. We have a fantastic, fantastic, fantastic, fantastic system </p>
			<h3> codepool is here to help you </h3>
			<p>Do Awesome things with codepool. We have a fantastic, fantastic, fantastic, fantastic system </p>
		</div>
	


</div>