
 <% " <div id=evyt13186998178151812> </div>"%>


<div class="row">
	<div class="span11 issues-area">

		<h3> Donate to Solve Open Source Issues </h3>
		<div id="sort-time"> Most Recent </div>
		<div id="sort-price"> Largest Rewards </div> 
		<hr id="issue-line">
		<div id="projects">
		</div>
	</div>
		<div class="span5">
			<h3> codepool is Here to Help You </h3>
			Codepool allows developers to finish projects faster by posting bounties for their most urgent issues.  Creating a request only takes a minute, so create an account now.</p>
			<%= link_to "Create Request", new_project_path, :class=>"btn large primary"   %>
		</div>
</div>
