<div class="row">
	<div class="span11 issues-area">
		
		<h3> Donate to Solve Open Source Issues </h3>
		<hr id="issue-line">
		<div class="row issue">
				<div class="span2" >
					<div class = "issue-price">
						$442
					</div>
				</div>
				<div class="span9 issue-description" >
					<a href='#'>Create Stuff!</a>
				</div>
		</div>
		<div class="row issue">
				<div class="span2" >
					<div class = "issue-price">
						$12
					</div>
				</div>
				<div class="span9 issue-description" >
					<a href='#'>Edit something really really important for jQuery</a>
				</div>
		</div>
		<div class="row issue">
				<div class="span2" >
					<div class = "issue-price">
						$0
					</div>
				</div>
				<div class="span9 issue-description" >
					<a href='#'>This is some really lame project that doesn't deserve any funding because it's way too long</a>
				</div>
		</div>
		<div class="row issue">
				<div class="span2" >
					<div class = "issue-price">
						$442
					</div>
				</div>
				<div class="span9 issue-description" >
					<a href='#'>Create Stuff!</a>
				</div>
		</div>
		<div class="row issue">
				<div class="span2" >
					<div class = "issue-price">
						$442
					</div>
				</div>
				<div class="span9 issue-description" >
					<a href='#'>Create Stuff!</a>
				</div>
		</div>
	</div>
		<div class="span5">
			<h3> codepool is here to help you </h3>
			<p>Do Awesome things with codepool. We have a fantastic, fantastic, fantastic, fantastic system </p>
			<h3> codepool is here to help you </h3>
			<p>Do Awesome things with codepool. We have a fantastic, fantastic, fantastic, fantastic system </p>
			<h3> codepool is here to help you </h3>
			<p>Do Awesome things with codepool. We have a fantastic, fantastic, fantastic, fantastic system </p>
		</div>
	


</div>