
		 <% " <div id=evyt13186998178151812> </div>"%>
		

		<div id="codepool">
			<a href='/users/new' class="btn large" style="float:left;">SIGN UP</a>
			<a href='/projects/new' id="createproj" class="btn large">NEW</a>
			<input id="search" value="search">
		</div>
		<div id="projects">
		</div>
