
		 <% " <div id=evyt13186998178151812> </div>"%>
		

		<div id="codepool">

			<div id="cptop">
				<div id='cpdetail'>
					Detailed Description. How to Code Pool.
				</div>
			</div>
			<a href='/users/new' class="btn large" style="float:left;">SIGN UP</a>
			<a href='/signin' class="btn large" style="float:left;">SIGN IN</a>
			<a href='/projects/new' id="createproj" class="btn large">NEW</a>
			<input id="search" value="search">
		</div>
		<div id="projects">
		</div>
