<h1> Open source solutions occasionally need a push. </h1>

<p>  Leave your email address below if you would like to be notified when codepool launches.</p>

<div class = "alert-message block-message info">
      <div id="emailcapture">
        <form action="http://adcache.com/codepool/contact-process.php" method="post">
          <input type="text" name="emailfield"/><input type="submit" value="Get Notifed!" class="button_1">
        </form>
      </div>
</div>