<h2> Thank you</h2>
So, you successfully completed this issue? Congratulations! If the original issue has been marked as closed and completed, our team will send you an email with how you can claim your bounty.  While you are waiting for that email, <a href="http://twitter.com/codepoolorg">check us out on Twitter</a>.
<br />
<br />
<%= link_to "(Back to the home page)", root_path %>

