
<style type="text/css">

#emailcapture {
  margin: auto;
  width:600px;
  height:100px;
}

#emailfield {
  border-color: #B8B8B8;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  color: #999;
  font-size: 20px;
  padding: 28px 20px;
  width: 420px;
} 

#button {
  color: #FFFFFF;
  background-color: #eaaa08;
  display: block;
  font-weight: bold;
  border: none;
  cursor: pointer;  
  height: 81px;
  width: 160px;
  left: 421px;
  top:-83px;
  font-size: 20px;
  margin: 0;
  position: relative;
  text-transform: uppercase;
}

</style>


<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-26328777-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

    
    <!--tagline starts-->
    <div class="tagline">
      <h1> Thanks! </h1>

      <p>Thanks for signing up to be notified about our team's progress.  While you are waiting for that email, <a href="http://twitter.com/codepoolorg">check us out on Twitter</a>.</p>
           

    <!--tagline ends-->
    
    <div class="clear"></div>
  </div>
