
<form accept-charset="UTF-8" action="/projects" class="new_project" id="new_project" method="post">
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>
      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div style="margin:0;padding:0;display:inline">
    <input name="utf8" type="hidden" value="&#x2713;" />
    <input name="authenticity_token" type="hidden" value="RnLgoOr3Pdbx1yKccMQL9bTMOrcUJULf0GAEOVOiXJg=" />
  </div>

  <div class="field">
    <label for="project_title">Title</label>
    <input id="project_title" name="project[title]" size="256" type="text" />
  </div>
  <div class="field">
    <label for="project_description">Description</label>
    <textarea id="project_description" name="project[description]" rows="10"></textarea>
  </div>
  <div class="field">
    <label for="project_community">Project Community</label>
    <input id="project_community" name="project[community]" size="30 type="text" />
  </div>
  <div class="field">
    <label for="project_original_issue">Original Issue Link</label>
    <input id="project_original_issue" name="project[original_issue]" size="30" type="text" />
  </div>
  <div class="field">
    <input id="project_price" name="project[price]" type="hidden" value="0" />
  </div>
  <div class="field">
    <input id="project_status" name="project[status]" type="hidden" value="open" />
  </div>
  <div class="actions">
    <input name="commit" type="submit" value="Create Project" class="btn primary"/>
  </div>
</form>
