<div style="background-color:black;text-align: left;padding: 5px 0 5px 15px;">
  <a href="http://codepool.org" style="color:#E4A609;text-decoration:none;font-size:175%;letter-spacing: 1px"><b>code</b>pool</a>
</div>
<div style='border: 1px solid #999; padding: 1em'>
  <h2>Hi <%= @account.name %></h2>

  <h3>Thanks for joining codepool!</h3>
  <p>You are seriously awesome and we appreciate everything you bring to the community.</p>
  <p>
  <a href="http://codepool.org/">Start checking out requests now</a> or <a href="http://codepool.org/requests/new">pledge to a new request</a>!
  </p>

</div>
