ol.projectList {
  width:100%;
  border-radius:5px;
  background-color:#ddd ;
  padding:5px;
  li {
    list-style-type:none;
  }
  .project {
    position:relative;
    margin-bottom:5px;
    background-color:#eee;
    height:8em;
    .title {
      font-size:1.5em;
      position:absolute;
      top:0;
      left:5px;
      text-decoration:underline;
      width:100%;
    }
    .pledgeTotal {
      position:absolute;
      top:50%;
      left:0;
      width:100px;
      font-size:2.5em;
      margin-top:-.5em;
      line-height:1em;
    }
    .creationTime {
      position:absolute;
      bottom:0;
      right:0;
    }
    .description {
      position:absolute;
      top:2em;
      left:100px;
      height:4.5em;
    }
  }
}
/*
  <ol class="projectList">
    <% projects.each do |project| %>
      <li>
        <a href="<%= url_for project %>">
          <section class="project">
            <h3 class="title"><%= project.title %></h3>
            <span class="creationTime" data-seconds="<%= project.created_at.strftime('%s') %>"> - <%= project.created_at.strftime('%a, %b %d %Y') %></span>
            <span class="pledgeTotal">$<%= '%d' % project.price %></span>
            <p class='description'><%= simple_format project.description[0,125]+ '...' if project.description.length > 125%></p>
          </section>
        </a>
      </li>
    <% end %>
  </ol>
*/