

#sort-time{
	float:right;
	margin-left: 10px;
	padding-top: 12px;
	color: #eaaa08;
}
#sort-price{
	float:right;
	margin-left: 10px;
	padding-top: 12px;
	color: #eaaa08;
}
#sort-price:hover{
	text-decoration: underline;
}
#sort-time:hover{
	text-decoration: underline;
}
hr {
	width: 100%;
}
