			body {
	left: 0px;
	top: 0px;
	display: block;
	font-family: 'Play', sans-serif;
}
#page {
	left: 0px;
	top: 0px;
	display: block;
}
#evyt13186998178151812 {
	overflow-x: hidden;
	overflow-y: hidden;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-color: rgb(0, 0, 0);
	border-right-color: rgb(0, 0, 0);
	border-bottom-color: rgb(0, 0, 0);
	border-left-color: rgb(0, 0, 0);
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	border-top-left-radius: 0px 0px;
	-moz-border-radius-topleft: 0px 0px;
	-o-border-top-left-radius: 0px 0px;
	-webkit-border-top-left-radius: 0px 0px;
	border-top-right-radius: 0px 0px;
	-moz-border-radius-topright: 0px 0px;
	-o-border-top-right-radius: 0px 0px;
	-webkit-border-top-right-radius: 0px 0px;
	border-bottom-right-radius: 0px 0px;
	-moz-border-radius-bottomright: 0px 0px;
	-o-border-bottom-right-radius: 0px 0px;
	-webkit-border-bottom-right-radius: 0px 0px;
	border-bottom-left-radius: 0px 0px;
	-moz-border-radius-bottomleft: 0px 0px;
	-o-border-bottom-left-radius: 0px 0px;
	-webkit-border-bottom-left-radius: 0px 0px;
	display: block;
	background-color: rgb(0, 0, 0);
	opacity: 1;
	-webkit-box-shadow: rgb(0, 0, 0) 0px 0px 127px 3px;
	-moz-box-shadow: rgb(0, 0, 0) 0px 0px 127px 3px;
	-o-box-shadow: rgb(0, 0, 0) 0px 0px 127px 3px;
	box-shadow: rgb(0, 0, 0) 0px 0px 127px 3px;
	min-height: 4px;
}
#codepool {
	overflow-x: hidden;
	overflow-y: hidden;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-color: rgb(0, 0, 0);
	border-right-color: rgb(0, 0, 0);
	border-bottom-color: rgb(0, 0, 0);
	border-left-color: rgb(0, 0, 0);
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	margin-right: auto;
	margin-left: auto;
	min-height: 100px;
	border-top-left-radius: 0px 0px;
	-moz-border-radius-topleft: 0px 0px;
	-o-border-top-left-radius: 0px 0px;
	-webkit-border-top-left-radius: 0px 0px;
	border-top-right-radius: 0px 0px;
	-moz-border-radius-topright: 0px 0px;
	-o-border-top-right-radius: 0px 0px;
	-webkit-border-top-right-radius: 0px 0px;
	border-bottom-right-radius: 0px 0px;
	-moz-border-radius-bottomright: 0px 0px;
	-o-border-bottom-right-radius: 0px 0px;
	-webkit-border-bottom-right-radius: 0px 0px;
	border-bottom-left-radius: 0px 0px;
	-moz-border-radius-bottomleft: 0px 0px;
	-o-border-bottom-left-radius: 0px 0px;
	-webkit-border-bottom-left-radius: 0px 0px;
	display: block;
	width: 940px;
	min-width: 940px;
	margin-top: 30px;
	margin-bottom: 20px;
}
#logo {
	overflow-x: hidden;
	overflow-y: hidden;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-color: rgb(0, 0, 0);
	border-right-color: rgb(0, 0, 0);
	border-bottom-color: rgb(0, 0, 0);
	border-left-color: rgb(0, 0, 0);
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	border-top-left-radius: 0px 0px;
	-moz-border-radius-topleft: 0px 0px;
	-o-border-top-left-radius: 0px 0px;
	-webkit-border-top-left-radius: 0px 0px;
	border-top-right-radius: 0px 0px;
	-moz-border-radius-topright: 0px 0px;
	-o-border-top-right-radius: 0px 0px;
	-webkit-border-top-right-radius: 0px 0px;
	border-bottom-right-radius: 0px 0px;
	-moz-border-radius-bottomright: 0px 0px;
	-o-border-bottom-right-radius: 0px 0px;
	-webkit-border-bottom-right-radius: 0px 0px;
	border-bottom-left-radius: 0px 0px;
	-moz-border-radius-bottomleft: 0px 0px;
	-o-border-bottom-left-radius: 0px 0px;
	-webkit-border-bottom-left-radius: 0px 0px;
	display: block;
	float: left;
	width: 180px;
	min-width: 180px;
	min-height: 130px;
	background-image: url(img/fakelogo.png)
	;background-position:50% 50%;background-repeat:no-repeat;}
#cptop {overflow-x:hidden;overflow-y:hidden;border-top-style:solid;border-right-style:solid;border-bottom-style:solid;border-left-style:solid;border-top-width:0px;border-right-width:0px;border-bottom-width:0px;border-left-width:0px;border-top-color:rgb(0, 0, 0);
	border-right-color: rgb(0, 0, 0);
	border-bottom-color: rgb(0, 0, 0);
	border-left-color: rgb(0, 0, 0);
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	border-top-left-radius: 0px 0px;
	-moz-border-radius-topleft: 0px 0px;
	-o-border-top-left-radius: 0px 0px;
	-webkit-border-top-left-radius: 0px 0px;
	border-top-right-radius: 0px 0px;
	-moz-border-radius-topright: 0px 0px;
	-o-border-top-right-radius: 0px 0px;
	-webkit-border-top-right-radius: 0px 0px;
	border-bottom-right-radius: 0px 0px;
	-moz-border-radius-bottomright: 0px 0px;
	-o-border-bottom-right-radius: 0px 0px;
	-webkit-border-bottom-right-radius: 0px 0px;
	border-bottom-left-radius: 0px 0px;
	-moz-border-radius-bottomleft: 0px 0px;
	-o-border-bottom-left-radius: 0px 0px;
	-webkit-border-bottom-left-radius: 0px 0px;
	display: block;
	min-height: 72px;
}

#list-top{
	float: left;
}

.project {
margin-bottom:0.8em;
}
.ptotal {
	overflow-x: hidden;
	overflow-y: hidden;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-color: rgb(0, 0, 0);
	border-right-color: rgb(0, 0, 0);
	border-bottom-color: rgb(0, 0, 0);
	border-left-color: rgb(0, 0, 0);
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	border-top-left-radius: 0px 0px;
	-moz-border-radius-topleft: 0px 0px;
	-o-border-top-left-radius: 0px 0px;
	-webkit-border-top-left-radius: 0px 0px;
	border-top-right-radius: 0px 0px;
	-moz-border-radius-topright: 0px 0px;
	-o-border-top-right-radius: 0px 0px;
	-webkit-border-top-right-radius: 0px 0px;
	border-bottom-right-radius: 0px 0px;
	-moz-border-radius-bottomright: 0px 0px;
	-o-border-bottom-right-radius: 0px 0px;
	-webkit-border-bottom-right-radius: 0px 0px;
	border-bottom-left-radius: 0px 0px;
	-moz-border-radius-bottomleft: 0px 0px;
	-o-border-bottom-left-radius: 0px 0px;
	-webkit-border-bottom-left-radius: 0px 0px;
	display: block;
	min-width: 50px;
	b/ackground-color: rgb(102, 161, 19);
	opacity: 1;
	-we/bkit-box-shadow: rgb(0, 0, 0) 0px 0px 20px 1px inset;
	-mo/z-box-shadow: rgb(0, 0, 0) 0px 0px 20px 1px inset;
	-o-/box-shadow: rgb(0, 0, 0) 0px 0px 20px 1px inset;
	box-/shadow: rgb(0, 0, 0) 0px 0px 20px 1px inset;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
}
.ptotal {
	overflow-x: hidden;
	overflow-y: hidden;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-color: rgb(0, 0, 0);
	border-right-color: rgb(0, 0, 0);
	border-bottom-color: rgb(0, 0, 0);
	border-left-color: rgb(0, 0, 0);
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	border-top-left-radius: 0px 0px;
	-moz-border-radius-topleft: 0px 0px;
	-o-border-top-left-radius: 0px 0px;
	-webkit-border-top-left-radius: 0px 0px;
	border-top-right-radius: 0px 0px;
	-moz-border-radius-topright: 0px 0px;
	-o-border-top-right-radius: 0px 0px;
	-webkit-border-top-right-radius: 0px 0px;
	border-bottom-right-radius: 0px 0px;
	-moz-border-radius-bottomright: 0px 0px;
	-o-border-bottom-right-radius: 0px 0px;
	-webkit-border-bottom-right-radius: 0px 0px;
	border-bottom-left-radius: 0px 0px;
	-moz-border-radius-bottomleft: 0px 0px;
	-o-border-bottom-left-radius: 0px 0px;
	-webkit-border-bottom-left-radius: 0px 0px;
	display: block;
}
#evyt13187003903106132 {
	overflow-x: hidden;
	overflow-y: hidden;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: rgb(0, 0, 0);
	border-right-color: rgb(0, 0, 0);
	border-bottom-color: rgb(0, 0, 0);
	border-left-color: rgb(0, 0, 0);
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	margin-right: auto;
	margin-left: auto;
	border-top-left-radius: 0px 0px;
	-moz-border-radius-topleft: 0px 0px;
	-o-border-top-left-radius: 0px 0px;
	-webkit-border-top-left-radius: 0px 0px;
	border-top-right-radius: 0px 0px;
	-moz-border-radius-topright: 0px 0px;
	-o-border-top-right-radius: 0px 0px;
	-webkit-border-top-right-radius: 0px 0px;
	border-bottom-right-radius: 0px 0px;
	-moz-border-radius-bottomright: 0px 0px;
	-o-border-bottom-right-radius: 0px 0px;
	-webkit-border-bottom-right-radius: 0px 0px;
	border-bottom-left-radius: 0px 0px;
	-moz-border-radius-bottomleft: 0px 0px;
	-o-border-bottom-left-radius: 0px 0px;
	-webkit-border-bottom-left-radius: 0px 0px;
	display: block;
	width: 940px;
	min-width: 940px;
	margin-top: 0px;
	margin-bottom: 20px;
	-webkit-box-shadow: rgb(0, 0, 0) 0px 0px 43px -12px;
	-moz-box-shadow: rgb(0, 0, 0) 0px 0px 43px -12px;
	-o-box-shadow: rgb(0, 0, 0) 0px 0px 43px -12px;
	box-shadow: rgb(0, 0, 0) 0px 0px 43px -12px;
	border-top-width: 2px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	min-height: 51px;
	position: relative;
	z-index: 1;
}
#evyt13187002526657308 {
	overflow-x: hidden;
	overflow-y: hidden;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-color: rgb(0, 0, 0);
	border-right-color: rgb(0, 0, 0);
	border-bottom-color: rgb(0, 0, 0);
	border-left-color: rgb(0, 0, 0);
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	border-top-left-radius: 0px 0px;
	-moz-border-radius-topleft: 0px 0px;
	-o-border-top-left-radius: 0px 0px;
	-webkit-border-top-left-radius: 0px 0px;
	border-top-right-radius: 0px 0px;
	-moz-border-radius-topright: 0px 0px;
	-o-border-top-right-radius: 0px 0px;
	-webkit-border-top-right-radius: 0px 0px;
	border-bottom-right-radius: 0px 0px;
	-moz-border-radius-bottomright: 0px 0px;
	-o-border-bottom-right-radius: 0px 0px;
	-webkit-border-bottom-right-radius: 0px 0px;
	border-bottom-left-radius: 0px 0px;
	-moz-border-radius-bottomleft: 0px 0px;
	-o-border-bottom-left-radius: 0px 0px;
	-webkit-border-bottom-left-radius: 0px 0px;
	display: block;
	float: right;
	width: 180px;
	min-width: 180px;
	min-height: 33px;
	background-color: rgb(102, 161, 19);
	opacity: 1;
	-webkit-box-shadow: rgb(0, 0, 0) 0px 0px 20px 1px inset;
	-moz-box-shadow: rgb(0, 0, 0) 0px 0px 20px 1px inset;
	-o-box-shadow: rgb(0, 0, 0) 0px 0px 20px 1px inset;
	box-shadow: rgb(0, 0, 0) 0px 0px 20px 1px inset;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
}
#evyt13187003634884516 {
	overflow-x: hidden;
	overflow-y: hidden;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-color: rgb(0, 0, 0);
	border-right-color: rgb(0, 0, 0);
	border-bottom-color: rgb(0, 0, 0);
	border-left-color: rgb(0, 0, 0);
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	border-top-left-radius: 0px 0px;
	-moz-border-radius-topleft: 0px 0px;
	-o-border-top-left-radius: 0px 0px;
	-webkit-border-top-left-radius: 0px 0px;
	border-top-right-radius: 0px 0px;
	-moz-border-radius-topright: 0px 0px;
	-o-border-top-right-radius: 0px 0px;
	-webkit-border-top-right-radius: 0px 0px;
	border-bottom-right-radius: 0px 0px;
	-moz-border-radius-bottomright: 0px 0px;
	-o-border-bottom-right-radius: 0px 0px;
	-webkit-border-bottom-right-radius: 0px 0px;
	border-bottom-left-radius: 0px 0px;
	-moz-border-radius-bottomleft: 0px 0px;
	-o-border-bottom-left-radius: 0px 0px;
	-webkit-border-bottom-left-radius: 0px 0px;
	display: block;
	min-height: 40px;
}
.ptitle {
	color:#333;
	font-weight:bold;
	font-size:1.3em;
	font-size:12pt;
	padding-top: 9px;
}
.ptitle:hover {
	color:#eaaa08;
}
.pbrief {
	font-size: 16pt;
	color: #222;
}
.pspec {
	display: none;
}
.pdetail {
	display: none;
}
.ptotal {
	font-family: 'Nova Square', sans-serif;
	font-size:2.1em;
	color: #eaaa08;
	margin-right:.5em;
	margin-top:0.05em;
	width: 70px;
	float: right;
}
#cpname {
	font-family: 'Nova Square', sans-serif;
	font-size: 35pt;
}
.btn {
cursor: pointer;
display: inline-block;
background-color: #e6e6e6;
background-repeat: no-repeat;
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(25%, #ffffff), to(#e6e6e6));
background-image: -webkit-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
background-image: -moz-linear-gradient(top, #ffffff, #ffffff 25%, #e6e6e6);
background-image: -ms-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
background-image: -o-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
background-image: linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
padding: 5px 14px 6px;
text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
color: #333;
font-size: 13px;
line-height: normal;
border: 1px solid #ccc;
border-bottom-color: #bbb;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
-webkit-transition: 0.1s linear all;
-moz-transition: 0.1s linear all;
-ms-transition: 0.1s linear all;
-o-transition: 0.1s linear all;
transition: 0.1s linear all;
}

.btn.large {
font-size: 15px;
line-height: normal;
padding: 9px 14px 9px;
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
}

.btn:active {
-webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
-moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn.bcomplete {
color: #ffffff;
background-color: #0064cd;
background-repeat: repeat-x;
background-image: -khtml-gradient(linear, left top, left bottom, from(#049cdb), to(#0064cd));
background-image: -moz-linear-gradient(top, #049cdb, #0064cd);
background-image: -ms-linear-gradient(top, #049cdb, #0064cd);
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #049cdb), color-stop(100%, #0064cd));
background-image: -webkit-linear-gradient(top, #049cdb, #0064cd);
background-image: -o-linear-gradient(top, #049cdb, #0064cd);
background-image: linear-gradient(top, #049cdb, #0064cd);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#049cdb', endColorstr='#0064cd', GradientType=0);
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
border-color: #0064cd #0064cd #003f81;
border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.btn.bpledge {
color: #ffffff;
background-color: #0064cd;
background-repeat: repeat-x;
background-image: -khtml-gradient(linear, left top, left bottom, from(#049cdb), to(#0064cd));
background-image: -moz-linear-gradient(top, #049cdb, #0064cd);
background-image: -ms-linear-gradient(top, #049cdb, #0064cd);
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #049cdb), color-stop(100%, #0064cd));
background-image: -webkit-linear-gradient(top, #049cdb, #0064cd);
background-image: -o-linear-gradient(top, #049cdb, #0064cd);
background-image: linear-gradient(top, #049cdb, #0064cd);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#049cdb', endColorstr='#0064cd', GradientType=0);
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
border-color: #0064cd #0064cd #003f81;
border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.btn:hover {
background-position: 0 -15px;
color: #333;
text-decoration: none;
}

.btn.danger, .alert-message.danger, .btn.danger:hover, .alert-message.danger:hover, .btn.error, .alert-message.error, .btn.error:hover, .alert-message.error:hover, .btn.success, .alert-message.success, .btn.success:hover, .alert-message.success:hover, .btn.info, .alert-message.info, .btn.info:hover, .alert-message.info:hover {
color: #ffffff;
}

:root .alert-message, :root .btn {
border-radius: 0 url(0);
}

.btn:active {
-webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
-moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn:hover {
background-position: 0 -15px;
color: #333;
text-decoration: none;
}

.btn.success, .alert-message.success {
background-color: #57a957;
background-repeat: repeat-x;
background-image: -khtml-gradient(linear, left top, left bottom, from(#62c462), to(#57a957));
background-image: -moz-linear-gradient(top, #62c462, #57a957);
background-image: -ms-linear-gradient(top, #62c462, #57a957);
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #62c462), color-stop(100%, #57a957));
background-image: -webkit-linear-gradient(top, #62c462, #57a957);
background-image: -o-linear-gradient(top, #62c462, #57a957);
background-image: linear-gradient(top, #62c462, #57a957);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#62c462', endColorstr='#57a957', GradientType=0);
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
border-color: #57a957 #57a957 #3d773d;
border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.btn.danger, .alert-message.danger, .btn.danger:hover, .alert-message.danger:hover, .btn.error, .alert-message.error, .btn.error:hover, .alert-message.error:hover, .btn.success, .alert-message.success, .btn.success:hover, .alert-message.success:hover, .btn.info, .alert-message.info, .btn.info:hover, .alert-message.info:hover {
color: #ffffff;
}

.pmeta {
	padding-top: 20px;
}


.pledges {
	font-size: 16pt;
}
.pledgesamount {
	color: rgb(102, 161, 19);
}
#createproj {
	width: 35px;
	float: right;
	margin-top: 8px;
}

#main-page {
	padding-top: 5em;
	padding-bottom: 2em;
}
#header_image {
	height: 32px;
	margin-top: 3px;
	float: left;
}

#header_nav {
	float: right;
}

#header_search {
	margin-left: 21px;
}


#sort-time{
	float:right;
	margin-left: 10px;
	padding-top: 12px;
	color: #eaaa08;
}#sort-price{
	float:right;
	margin-left: 10px;
	padding-top: 12px;
	color: #eaaa08;
}#sort-price:hover{
	text-decoration: underline;
}#sort-time:hover{
	text-decoration: underline;
}.issues-area h3{
	float: left;
	color: #eaaa08;
	font-size: 18pt;
} hr {
	width: 100%;
}

.psummary {
	color: #555;
	padding-top: 2px;
	font-size: 10pt;
}

.ptime {
	font-size: 12pt;
	font-family: 'Play', sans-serif;
}