// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#stripe-form {
  fieldset {
    display:none;
  }
}

.project_pledge_description {
  margin-left: 30px;
}

.project_pledge_price {
  padding-left: 100px;
}

.project_pledge_title {
  float:left;
}  

.donate_form {
  float:left;
}
