@import "components/project_list.css.scss";
@import "components/tag_cloud.css.scss";

#projectListHeader {
  background-color:#eee;
  border-radius:5px;
  margin:5px auto 10px;
  padding:5px;
  width:915px;
}

#projectList {
  width:615px;
  float:left;
}

#sideBar {
  width:300px;
  float:right;
}

.new_project {
  .field {
    input, textarea {
      width:400px;
    }
  }
}