@import "components/request_list.css.scss";
@import "components/tag_cloud.css.scss";

#requestListHeader {
  background-color:#eee;
  border-radius:5px;
  margin:5px auto 10px;
  padding:5px;
  width:915px;
}

#requestList {
  width:615px;
  float:left;
}

#sideBar {
  width:300px;
  float:right;
}

.new_request {
  .field {
    input, textarea {
      width:400px;
    }
  }
}

#github-issue-details {
  min-height:300px;

}

#github-issue-details form {
  display:none;
}