#main-page{
	padding-top:5em;
	padding-bottom:2em;
}

#issues-area h2{
	float:left;
}
#issues-area ul{
	float:right;
}

#issue-line{
 margin-top:0em;

}

.issue-price{
	font-size:2.1em;
	color: #ff4444;
	margin-left:1em;
	margin-top:0.05em;
}

.issue{
	padding-top:0.8em;
	margin-bottom:0.8em;
}

.issue a{
	color:#333;
	text-decoration: underline;
	font-weight:bold;
	font-size:1.6em;
}
.issue a:hover{
	color: #ff4444;
}
