<div id="siteFooter">
  <span id='copyright'>
    &copy; 2011 - All Rights Reserved.
  </span>
  <div style="vertical-align: middle;display:inline-block"><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://codepool.org/" data-text="codepool.org - accelerating #opensource projects" data-count="none" data-via="codepoolorg">Tweet</a><script type="text/javascript" src="//platform.twitter.com/widgets.js"></script></div>
  <div style="vertical-align: middle;display:inline-block"><div class="g-plusone" data-size="medium" data-annotation="none" data-href="http://codepool.org/"></div></div>
  <div style="vertical-align: middle;display:inline-block"><div class="fb-like" data-href="http://codepool.org/" data-send="false" data-layout="button_count" data-width="50" data-show-faces="false"></div></div>
</div>