<div class="topbar">
      <div class="topbar-inner">
        <div class="container">
		<%= link_to image_tag("codepoollogo-sm.png", :id=>"header_image"), root_url %>

		<form class="pull-left" action="" id="header_search">
		<input type="text" placeholder="Search">
		</form>
          	<ul class="nav" id="header_nav">
		    <li class="active"><a href="#contact">Issues</a></li>
	            <li><a href="#about">About</a></li>
	            <li><a href="#contact">FAQ</a></li>
		    <li><a href="#contact">Login</a></li>
	
	          </ul>
        </div>
    </div>
</div
