<div class="logo_image"><%= link_to image_tag("/assets/fakelogo.png"), root_url %></div>
<div class="header_navigation">
<%= link_to "Sign In", sign_in_path %> | <%= link_to "Sign Out", sign_out_path %>
</div>
